// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: $montserrat;
$heading-font-family: $base-font-family;
$base-font-size: 16px;

// Line height
$base-line-height: 1.65;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$color-navy: #0c62ad;
$color-dark-gray: #333;

$color-light-blue: #186ab1;
$color-light-purple: #f27328;
$color-gray-5c: #5c5c5c;
$color-gray-d8: #d8d8d8;
$color-gray-88: #888;
$color-gray-ef: #efeded;
$color-gray-f8: #f8f8f8;
$color-gray-2e: #2e2e2e;
$color-white: #fff;
$color-black: #000;

// Bg color.
$color-blue: #008cff;

// Font Colors
$base-font-color: $color-gray-2e;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
