html {
  @media #{$small} {
    font-size: 80%;
  }
}

// Basic Layout Considerations
body > section {
  @include clearfix();
  padding-bottom: 50px;
  padding-top: 70px;

  @media #{$medium} {
    padding: 60px 0 45px;
  }

  @media #{$small} {
    padding: 50px 0 30px;
  }

  @media #{$large} {
    padding: 95px 0 99px;
  }

  > .container,
  > .container--small {
    @include grid-container;
    margin: 0 auto;
    max-width: $page-width;
  }

  > .container--small {
    max-width: $page-small-width;
  }
}

.container,
.container--small {
  @include clearfix;
}

.grid-12 {
  @include grid-column(12);

  @media #{$medium} {
    @include grid-column(12, $medium-grid);
  }
}
